<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.phonegap.plugins.waitingdialog" version="0.0.1">

    <name>Waiting Dialog</name>
    <description>Waiting Dialog Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>

    <js-module src="www/WaitingDialog.js" name="WaitingDialog">
        <clobbers target="WaitingDialog" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WaitingDialog" >
                <param name="android-package" value="org.apache.cordova.device.WaitingDialog"/>
            </feature>
        </config-file>

        <source-file src="src/android/WaitingDialog.java" target-dir="src/org/apache/cordova/device" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WaitingDialog">
                <param name="ios-package" value="WaitingDialog"/>
            </feature>
        </config-file>

        <header-file src="src/ios/WaitingDialog.h" />
        <source-file src="src/ios/WaitingDialog.m" />
    </platform>
</plugin>
